.cell.cell-tags span.tag-浏览器, .tag-card-body .tag-浏览器{
      background-color: rgba(147, 11, 50, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #930b32;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端, .tag-card-body .tag-前端{
      background-color: rgba(124, 147, 5, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #7c9305;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端工程化, .tag-card-body .tag-前端工程化{
      background-color: rgba(1, 119, 26, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #01771a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端工具, .tag-card-body .tag-前端工具{
      background-color: rgba(196, 76, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #c44c01;
        color: #fff;
      }
    }.cell.cell-tags span.tag-小程序, .tag-card-body .tag-小程序{
      background-color: rgba(8, 46, 99, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #082e63;
        color: #fff;
      }
    }.cell.cell-tags span.tag-babel, .tag-card-body .tag-babel{
      background-color: rgba(191, 19, 73, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #bf1349;
        color: #fff;
      }
    }.cell.cell-tags span.tag-brew, .tag-card-body .tag-brew{
      background-color: rgba(82, 155, 9, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #529b09;
        color: #fff;
      }
    }.cell.cell-tags span.tag-bulma, .tag-card-body .tag-bulma{
      background-color: rgba(168, 5, 7, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #a80507;
        color: #fff;
      }
    }.cell.cell-tags span.tag-centos, .tag-card-body .tag-centos{
      background-color: rgba(11, 109, 124, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0b6d7c;
        color: #fff;
      }
    }.cell.cell-tags span.tag-create-react-app, .tag-card-body .tag-create-react-app{
      background-color: rgba(145, 37, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #912501;
        color: #fff;
      }
    }.cell.cell-tags span.tag-css, .tag-card-body .tag-css{
      background-color: rgba(201, 14, 234, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #c90eea;
        color: #fff;
      }
    }.cell.cell-tags span.tag-css3, .tag-card-body .tag-css3{
      background-color: rgba(11, 116, 147, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0b7493;
        color: #fff;
      }
    }.cell.cell-tags span.tag-docker, .tag-card-body .tag-docker{
      background-color: rgba(142, 47, 12, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #8e2f0c;
        color: #fff;
      }
    }.cell.cell-tags span.tag-docker-compose, .tag-card-body .tag-docker-compose{
      background-color: rgba(87, 132, 3, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #578403;
        color: #fff;
      }
    }.cell.cell-tags span.tag-echarts, .tag-card-body .tag-echarts{
      background-color: rgba(198, 166, 3, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #c6a603;
        color: #fff;
      }
    }.cell.cell-tags span.tag-es6, .tag-card-body .tag-es6{
      background-color: rgba(163, 44, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #a32c01;
        color: #fff;
      }
    }.cell.cell-tags span.tag-eslint, .tag-card-body .tag-eslint{
      background-color: rgba(9, 163, 60, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #09a33c;
        color: #fff;
      }
    }.cell.cell-tags span.tag-excel, .tag-card-body .tag-excel{
      background-color: rgba(28, 137, 13, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #1c890d;
        color: #fff;
      }
    }.cell.cell-tags span.tag-git, .tag-card-body .tag-git{
      background-color: rgba(158, 12, 15, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #9e0c0f;
        color: #fff;
      }
    }.cell.cell-tags span.tag-golang, .tag-card-body .tag-golang{
      background-color: rgba(9, 160, 24, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #09a018;
        color: #fff;
      }
    }.cell.cell-tags span.tag-grunt, .tag-card-body .tag-grunt{
      background-color: rgba(79, 137, 8, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #4f8908;
        color: #fff;
      }
    }.cell.cell-tags span.tag-gulp, .tag-card-body .tag-gulp{
      background-color: rgba(140, 9, 53, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #8c0935;
        color: #fff;
      }
    }.cell.cell-tags span.tag-html, .tag-card-body .tag-html{
      background-color: rgba(86, 6, 153, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #560699;
        color: #fff;
      }
    }.cell.cell-tags span.tag-html5, .tag-card-body .tag-html5{
      background-color: rgba(2, 130, 85, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #028255;
        color: #fff;
      }
    }.cell.cell-tags span.tag-http, .tag-card-body .tag-http{
      background-color: rgba(143, 150, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #8f9601;
        color: #fff;
      }
    }.cell.cell-tags span.tag-husky, .tag-card-body .tag-husky{
      background-color: rgba(147, 33, 4, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #932104;
        color: #fff;
      }
    }.cell.cell-tags span.tag-iview, .tag-card-body .tag-iview{
      background-color: rgba(242, 24, 220, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #f218dc;
        color: #fff;
      }
    }.cell.cell-tags span.tag-jenkins, .tag-card-body .tag-jenkins{
      background-color: rgba(36, 0, 130, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #240082;
        color: #fff;
      }
    }.cell.cell-tags span.tag-js, .tag-card-body .tag-js{
      background-color: rgba(6, 158, 36, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #069e24;
        color: #fff;
      }
    }.cell.cell-tags span.tag-linux, .tag-card-body .tag-linux{
      background-color: rgba(9, 14, 117, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #090e75;
        color: #fff;
      }
    }.cell.cell-tags span.tag-lua, .tag-card-body .tag-lua{
      background-color: rgba(216, 106, 21, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #d86a15;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mac, .tag-card-body .tag-mac{
      background-color: rgba(183, 14, 5, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #b70e05;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mongodb, .tag-card-body .tag-mongodb{
      background-color: rgba(6, 51, 114, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #063372;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mysql, .tag-card-body .tag-mysql{
      background-color: rgba(35, 119, 2, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #237702;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nginx, .tag-card-body .tag-nginx{
      background-color: rgba(11, 160, 143, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0ba08f;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nodejs, .tag-card-body .tag-nodejs{
      background-color: rgba(216, 4, 121, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #d80479;
        color: #fff;
      }
    }.cell.cell-tags span.tag-npm, .tag-card-body .tag-npm{
      background-color: rgba(7, 44, 107, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #072c6b;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nuxt, .tag-card-body .tag-nuxt{
      background-color: rgba(73, 117, 7, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #497507;
        color: #fff;
      }
    }.cell.cell-tags span.tag-openresty, .tag-card-body .tag-openresty{
      background-color: rgba(13, 122, 132, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0d7a84;
        color: #fff;
      }
    }.cell.cell-tags span.tag-pm2, .tag-card-body .tag-pm2{
      background-color: rgba(2, 124, 118, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #027c76;
        color: #fff;
      }
    }.cell.cell-tags span.tag-postcss, .tag-card-body .tag-postcss{
      background-color: rgba(153, 165, 14, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #99a50e;
        color: #fff;
      }
    }.cell.cell-tags span.tag-prettier, .tag-card-body .tag-prettier{
      background-color: rgba(190, 17, 216, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #be11d8;
        color: #fff;
      }
    }.cell.cell-tags span.tag-pwa, .tag-card-body .tag-pwa{
      background-color: rgba(88, 11, 122, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #580b7a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-react, .tag-card-body .tag-react{
      background-color: rgba(130, 1, 5, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #820105;
        color: #fff;
      }
    }.cell.cell-tags span.tag-react-router, .tag-card-body .tag-react-router{
      background-color: rgba(20, 8, 102, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #140866;
        color: #fff;
      }
    }.cell.cell-tags span.tag-scss, .tag-card-body .tag-scss{
      background-color: rgba(191, 82, 0, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #bf5200;
        color: #fff;
      }
    }.cell.cell-tags span.tag-sequelize, .tag-card-body .tag-sequelize{
      background-color: rgba(2, 127, 4, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #027f04;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue, .tag-card-body .tag-vue{
      background-color: rgba(4, 122, 110, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #047a6e;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue-cli, .tag-card-body .tag-vue-cli{
      background-color: rgba(0, 15, 99, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #000f63;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue-router, .tag-card-body .tag-vue-router{
      background-color: rgba(219, 8, 208, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #db08d0;
        color: #fff;
      }
    }.cell.cell-tags span.tag-webpack, .tag-card-body .tag-webpack{
      background-color: rgba(80, 117, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #507501;
        color: #fff;
      }
    }.cell.cell-tags span.tag-windows, .tag-card-body .tag-windows{
      background-color: rgba(11, 100, 130, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0b6482;
        color: #fff;
      }
    }.cell.cell-tags span.tag-yarn, .tag-card-body .tag-yarn{
      background-color: rgba(165, 0, 55, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #a50037;
        color: #fff;
      }
    }