.cell.cell-tags span.tag-浏览器, .tag-card-body .tag-浏览器{
      background-color: rgba(12, 95, 137, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0c5f89;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端, .tag-card-body .tag-前端{
      background-color: rgba(216, 103, 17, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #d86711;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端工程化, .tag-card-body .tag-前端工程化{
      background-color: rgba(219, 10, 111, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #db0a6f;
        color: #fff;
      }
    }.cell.cell-tags span.tag-前端工具, .tag-card-body .tag-前端工具{
      background-color: rgba(3, 127, 49, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #037f31;
        color: #fff;
      }
    }.cell.cell-tags span.tag-小程序, .tag-card-body .tag-小程序{
      background-color: rgba(10, 140, 8, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0a8c08;
        color: #fff;
      }
    }.cell.cell-tags span.tag-babel, .tag-card-body .tag-babel{
      background-color: rgba(2, 130, 2, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #028202;
        color: #fff;
      }
    }.cell.cell-tags span.tag-brew, .tag-card-body .tag-brew{
      background-color: rgba(6, 150, 116, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #069674;
        color: #fff;
      }
    }.cell.cell-tags span.tag-bulma, .tag-card-body .tag-bulma{
      background-color: rgba(170, 31, 10, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #aa1f0a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-centos, .tag-card-body .tag-centos{
      background-color: rgba(7, 140, 2, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #078c02;
        color: #fff;
      }
    }.cell.cell-tags span.tag-create-react-app, .tag-card-body .tag-create-react-app{
      background-color: rgba(76, 0, 127, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #4c007f;
        color: #fff;
      }
    }.cell.cell-tags span.tag-css, .tag-card-body .tag-css{
      background-color: rgba(2, 64, 99, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #024063;
        color: #fff;
      }
    }.cell.cell-tags span.tag-css3, .tag-card-body .tag-css3{
      background-color: rgba(219, 147, 15, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #db930f;
        color: #fff;
      }
    }.cell.cell-tags span.tag-docker, .tag-card-body .tag-docker{
      background-color: rgba(3, 122, 17, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #037a11;
        color: #fff;
      }
    }.cell.cell-tags span.tag-docker-compose, .tag-card-body .tag-docker-compose{
      background-color: rgba(13, 153, 134, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0d9986;
        color: #fff;
      }
    }.cell.cell-tags span.tag-echarts, .tag-card-body .tag-echarts{
      background-color: rgba(249, 242, 19, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #f9f213;
        color: #fff;
      }
    }.cell.cell-tags span.tag-es6, .tag-card-body .tag-es6{
      background-color: rgba(75, 7, 140, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #4b078c;
        color: #fff;
      }
    }.cell.cell-tags span.tag-eslint, .tag-card-body .tag-eslint{
      background-color: rgba(6, 120, 124, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #06787c;
        color: #fff;
      }
    }.cell.cell-tags span.tag-excel, .tag-card-body .tag-excel{
      background-color: rgba(7, 61, 119, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #073d77;
        color: #fff;
      }
    }.cell.cell-tags span.tag-git, .tag-card-body .tag-git{
      background-color: rgba(3, 108, 122, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #036c7a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-golang, .tag-card-body .tag-golang{
      background-color: rgba(161, 0, 206, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #a100ce;
        color: #fff;
      }
    }.cell.cell-tags span.tag-grunt, .tag-card-body .tag-grunt{
      background-color: rgba(65, 14, 160, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #410ea0;
        color: #fff;
      }
    }.cell.cell-tags span.tag-gulp, .tag-card-body .tag-gulp{
      background-color: rgba(244, 244, 2, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #f4f402;
        color: #fff;
      }
    }.cell.cell-tags span.tag-html, .tag-card-body .tag-html{
      background-color: rgba(75, 4, 137, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #4b0489;
        color: #fff;
      }
    }.cell.cell-tags span.tag-html5, .tag-card-body .tag-html5{
      background-color: rgba(165, 16, 0, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #a51000;
        color: #fff;
      }
    }.cell.cell-tags span.tag-http, .tag-card-body .tag-http{
      background-color: rgba(6, 39, 109, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #06276d;
        color: #fff;
      }
    }.cell.cell-tags span.tag-husky, .tag-card-body .tag-husky{
      background-color: rgba(221, 0, 151, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #dd0097;
        color: #fff;
      }
    }.cell.cell-tags span.tag-iview, .tag-card-body .tag-iview{
      background-color: rgba(79, 2, 130, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #4f0282;
        color: #fff;
      }
    }.cell.cell-tags span.tag-jenkins, .tag-card-body .tag-jenkins{
      background-color: rgba(11, 31, 112, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0b1f70;
        color: #fff;
      }
    }.cell.cell-tags span.tag-js, .tag-card-body .tag-js{
      background-color: rgba(34, 163, 11, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #22a30b;
        color: #fff;
      }
    }.cell.cell-tags span.tag-linux, .tag-card-body .tag-linux{
      background-color: rgba(204, 74, 0, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #cc4a00;
        color: #fff;
      }
    }.cell.cell-tags span.tag-lua, .tag-card-body .tag-lua{
      background-color: rgba(7, 142, 97, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #078e61;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mac, .tag-card-body .tag-mac{
      background-color: rgba(99, 119, 0, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #637700;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mongodb, .tag-card-body .tag-mongodb{
      background-color: rgba(5, 135, 74, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #05874a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-mysql, .tag-card-body .tag-mysql{
      background-color: rgba(2, 30, 94, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #021e5e;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nginx, .tag-card-body .tag-nginx{
      background-color: rgba(27, 153, 13, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #1b990d;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nodejs, .tag-card-body .tag-nodejs{
      background-color: rgba(60, 5, 112, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #3c0570;
        color: #fff;
      }
    }.cell.cell-tags span.tag-npm, .tag-card-body .tag-npm{
      background-color: rgba(244, 244, 7, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #f4f407;
        color: #fff;
      }
    }.cell.cell-tags span.tag-nuxt, .tag-card-body .tag-nuxt{
      background-color: rgba(35, 1, 137, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #230189;
        color: #fff;
      }
    }.cell.cell-tags span.tag-openresty, .tag-card-body .tag-openresty{
      background-color: rgba(1, 119, 86, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #017756;
        color: #fff;
      }
    }.cell.cell-tags span.tag-pm2, .tag-card-body .tag-pm2{
      background-color: rgba(12, 137, 18, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #0c8912;
        color: #fff;
      }
    }.cell.cell-tags span.tag-postcss, .tag-card-body .tag-postcss{
      background-color: rgba(0, 135, 90, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #00875a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-prettier, .tag-card-body .tag-prettier{
      background-color: rgba(209, 8, 118, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #d10876;
        color: #fff;
      }
    }.cell.cell-tags span.tag-pwa, .tag-card-body .tag-pwa{
      background-color: rgba(226, 11, 191, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #e20bbf;
        color: #fff;
      }
    }.cell.cell-tags span.tag-react, .tag-card-body .tag-react{
      background-color: rgba(42, 140, 0, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #2a8c00;
        color: #fff;
      }
    }.cell.cell-tags span.tag-react-router, .tag-card-body .tag-react-router{
      background-color: rgba(62, 155, 4, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #3e9b04;
        color: #fff;
      }
    }.cell.cell-tags span.tag-scss, .tag-card-body .tag-scss{
      background-color: rgba(175, 15, 74, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #af0f4a;
        color: #fff;
      }
    }.cell.cell-tags span.tag-sequelize, .tag-card-body .tag-sequelize{
      background-color: rgba(155, 33, 9, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #9b2109;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue, .tag-card-body .tag-vue{
      background-color: rgba(84, 132, 1, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #548401;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue-cli, .tag-card-body .tag-vue-cli{
      background-color: rgba(196, 164, 7, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #c4a407;
        color: #fff;
      }
    }.cell.cell-tags span.tag-vue-router, .tag-card-body .tag-vue-router{
      background-color: rgba(1, 145, 54, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #019136;
        color: #fff;
      }
    }.cell.cell-tags span.tag-webpack, .tag-card-body .tag-webpack{
      background-color: rgba(3, 117, 132, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #037584;
        color: #fff;
      }
    }.cell.cell-tags span.tag-windows, .tag-card-body .tag-windows{
      background-color: rgba(9, 165, 137, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #09a589;
        color: #fff;
      }
    }.cell.cell-tags span.tag-yarn, .tag-card-body .tag-yarn{
      background-color: rgba(43, 147, 8, 0.5);
      color: #1b1d25;
      &:hover {
        background-color: #2b9308;
        color: #fff;
      }
    }